.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .links {
    display: flex;
    flex-direction: column;
    background-color: #2d7a74;
    height: 25rem;
    width: 20rem;
    // padding: 10rem 5rem 10rem 5rem;
    border-radius: 0.4rem;
    align-items: center;
    h1 {
      text-align: center;
      color: #fff;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }
    h2 {
      margin-top: 0.4rem;
      color: #fff;
    }
  }
}
